html{
  scroll-behavior: smooth;
}
.group-child6,
.home-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 1600px;
  height: 884px;
}
.group-child6 {
  background-color: transparent;
  width: 730px;
  height: 580.4px;
}
.group-child7,
.rectangle-wrapper {
  position: absolute;
  top: 45.4px;
  left: 38px;
  width: 730px;
  height: 580.4px;
}
.group-child7 {
  top: 0;
  left:0;
  border-radius: 20px;
  background-color: #000;
  width: 1318px;
  height: 713.7px;
}
.span {
  color: #fff500;
}
.hi-i-am-container,
.i-am-uxui {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 523px;
  height: 156px;
}
.i-am-uxui {
  top: 155px;
  font-size: 35px;
  font-weight: 300;
  width: 635px;
  height: 121px;
}
.group-frame,
.hi-i-am-mohamed-adhil-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 635px;
  height: 276px;
}
.group-frame {
  top: 191.9px;
  left: 104px;
}
.group-child9,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1318px;
  height: 713.7px;
}
.group-child9 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: rgba(211, 248, 0, 0.308);
}
.group-wrapper1,
.rectangle-parent10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper1 {
  height: 62.56%;
  width: 89.58%;
  top: 18.05%;
  right: 5.38%;
  bottom: 19.4%;
  left: 5.03%;
}
.group-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #faf11e;
  width: 516px;
  height: 83.2px;
  cursor: pointer;
}
.download-cv1 {
  position: relative;
  top: 24.6px;
  left: 0px;
  display: inline-block;
  width: 195px;
  height: 33.1px;
  font-size: 25px;
  cursor: pointer;
}
.group-wrapper2:hover{
  transition: transform 0.6s ease;
  transform: translate(20px,-20px);
}
.frame-div,
.group-wrapper2,
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 516px;
  height: 83.2px;
}
.frame-div,
.group-wrapper2 {
  top: 24px;
  left: 30px;
}
.frame-div {
  top: 402px;
  left: 76px;
  border-radius: 20px;
  background-color: transparent;
  width: 576px;
  height: 133px;
  overflow: hidden;
  font-size: 30px;
  color: #000;
}
.photo-child {
  position: absolute;
  top: 72px;
  left: 87px;
  border-radius: 60px;
  width: 400px;
  height: 500px;
  object-fit: cover;
}
.photo {
  position: absolute;
  top: 50px;
  left: 805px;
  border-radius: 60px;
  background-color: transparent;
  width: 487px;
  height: 572px;
  overflow: hidden;
}

.quotes {
  position: absolute;
  left: 110px;
  top: 580px;
  display: inline-block;
  color: rgb(255, 247, 18);
  font-size: 20px;
  font-weight: 600;
  width: 500px;
  height: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  
}

.group-parent {
  position: absolute;
  top: 127px;
  left: 61px;
  width: 1318px;
  height: 713.7px;
}
.home3 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child11,
.home3 {
  width: 1433px;
  height: 884px;
  font-size: 60px;
  color: #fff;
}
.group-child11 {
  border-radius: 20px;
  background-color: #000;
  width: 1324px;
  height: 698px;
}
.about-me1 {
  position: absolute;
  top: 20px;
  left: 529px;
  display: inline-block;
  width: 272px;
  height: 70px;
}
.group-child12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 717px;
  height: 592px;
}
.hello-i-am {
  margin: 0;
}
.i-graduated-in {
  margin: 0;
}
.hello-i-am-container {
  position: absolute;
  top: 18px;
  left: 37px;
  display: inline-block;
  width: 662px;
}
.rectangle-parent13 {
  position: absolute;
  top: 90px;
  left: 567px;
  width: 717px;
  height: 592px;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: "Open Sans";
}
.about-me,
.rectangle-parent12 {
  position: absolute;
  top: 128px;
  left: 58px;
  width: 1324px;
  height: 698px;
}
.about-me {
  top: 0;
  left: 0;
  width: 1440px;
  height: 884px;
}
.am-photo-child,
.am-photo-item {
  position: absolute;
  top: 74px;
  left: 94px;
  border-radius: 60px;
  width: 426px;
  height: 455px;
}
.am-photo-child {
  background-color: #fff;
}
.am-photo-item {
  object-fit: cover;
}
.am-photo {
  position: absolute;
  top: 209px;
  left: 0;
  background-color: transparent;
  width: 652px;
  height: 634px;
  overflow: hidden;
}
.about3 {
  position: absolute;
  top: 884px;
  left: -4px;
  width: 1440px;
  height: 884px;
  text-align: center;
}
.group-child13,
.skill-child {
  position: absolute;
  top: 0;
  left:0;
  background-color: #282727;
  width: 1600px;
  height: 705px;
}
.group-child13 {
  border-radius: 20px;
  background-color: #000;
  width: 1324px;
  height: 530px;
}
.skills3 {
  position: absolute;
  top: 24px;
  left: 526px;
  display: inline-block;
  font-family: Roboto;
  color: #fff500;
  width: 272px;
  height: 70px;
}
.group-child14,
.rectangle-icon {
  position: absolute;
  top: 11px;
  left: 0;
  border-radius: 30px;
  width: 200px;
  height: 47px;
}
.group-child14 {
  top: 0;
  left: 8px;
  background-color: rgb(255, 255, 255);
}
.design {
  position: absolute;
  top: 4px;
  left: 65px;
  display: inline-block;
  font-weight: 700;
  width: 86px;
  height: 31px;
}
.vector-parent {
  position: absolute;
  top: 94px;
  left: 144px;
  width: 208px;
  height: 58px;
  text-align: left;
  font-size: 24px;
}
.group-child15,
.group-child16 {
  position: absolute;
  top: 11px;
  left: 12px;
  border-radius: 30px;
  width: 250px;
  height: 47px;
}
.group-child16 {
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}
.digital-marketing {
  position: absolute;
  top: 8px;
  left: 30px;
  display: inline-block;
  font-weight: 700;
  width: 200px;
  height: 31px;
}
.vector-group {
  position: absolute;
  top: 94px;
  left: 846px;
  width: 212px;
  height: 58px;
  text-align: left;
  font-size: 22px;
}
.icon-parkdribble,
.logosadobe-xd-icon {
  position: absolute;
  top: 180px;
  left: 337px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.logosadobe-xd-icon {
  top: 0;
  left: 424px;
}
.logosblogger-icon,
.logosgoogle-search-console-icon,
.vscode-iconsfile-type-excel {
  position: absolute;
  top: 164px;
  left: 745px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.logosblogger-icon,
.vscode-iconsfile-type-excel {
  left: 1008px;
}
.logosblogger-icon {
  top: 10px;
  left: 853px;
}
.logoshtml-5-icon,
.skill-iconswordpress,
.vscode-iconsfile-type-css {
  position: absolute;
  top: 10px;
  left: 941px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.logoshtml-5-icon,
.vscode-iconsfile-type-css {
  top: 171px;
  left: 151px;
}
.logoshtml-5-icon {
  left: 81px;
}
.deviconcanva,
.logosgoogle-ads-icon,
.logosgoogle-analytics-icon {
  position: absolute;
  top: 10px;
  left: 645px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.deviconcanva,
.logosgoogle-ads-icon {
  left: 236px;
}
.logosgoogle-ads-icon {
  left: 1152px;
}
.figma-icon,
.group-child17 {
  position: absolute;
  top: 0;
  left: 36px;
  width: 70px;
  height: 70px;
}
.group-child17 {
  left: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 120px;
  height: 40px;
}
.figma {
  position: absolute;
  top: 6px;
  left: 22px;
  font-weight: 600;
  display: inline-block;
  width: 75px;
  height: 27px;
}
.group-child18,
.rectangle-parent15 {
  position: absolute;
  top: 96px;
  left: 0;
  width: 120px;
  height: 40px;
}
.group-child18 {
  top: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 140px;
}
.html-5-css {
  position: absolute;
  top: 6px;
  left: 3px;
  font-weight: 600;
  display: inline-block;
  width: 137px;
  height: 27px;
}
.group-child19,
.rectangle-parent16 {
  position: absolute;
  top: 256px;
  left: 86px;
  width: 140px;
  height: 40px;
}
.group-child19 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 124px;
}
.adobe-xd {
  position: absolute;
  top: 6px;
  left: 13px;
  font-weight: 600;
  display: inline-block;
  width: 98px;
  height: 27px;
}
.rectangle-parent17,
.rectangle-parent18 {
  position: absolute;
  top: 96px;
  left: 404px;
  width: 124px;
  height: 40px;
}
.rectangle-parent18 {
  top: 256px;
  left: 310px;
}
.group-child22,
.rectangle-parent19 {
  position: absolute;
  top: 96px;
  left: 211px;
  width: 120px;
  height: 40px;
}
.group-child22 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 183px;
}
.google-analytics {
  position: absolute;
  top: 6px;
  left: 9px;
  font-weight: 600;
  display: inline-block;
  width: 165px;
  height: 27px;
}
.group-child23,
.rectangle-parent20 {
  position: absolute;
  top: 96px;
  left: 585px;
  width: 183px;
  height: 40px;
}
.group-child23 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 206px;
}
.blogger-wordpress {
  position: absolute;
  top: 6px;
  left: 9px;
  font-weight: 600;
  display: inline-block;
  width: 191px;
  height: 27px;
}
.group-child24,
.rectangle-parent21 {
  position: absolute;
  top: 96px;
  left: 830px;
  width: 206px;
  height: 40px;
}
.group-child24 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 247px;
}
.google-search-console {
  position: absolute;
  top: 6px;
  left: 5px;
  font-weight: 600;
  display: inline-block;
  width: 238px;
  height: 27px;
}
.group-child25,
.rectangle-parent22 {
  position: absolute;
  top: 256px;
  left: 656px;
  width: 247px;
  height: 40px;
}
.group-child25 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 200px;
}
.microsoft-excel {
  position: absolute;
  top: 6px;
  left: 4px;
  font-weight: 600;
  display: inline-block;
  width: 192.7px;
  height: 27px;
}
.rectangle-parent23,
.rectangle-parent24 {
  position: absolute;
  top: 256px;
  left: 952px;
  width: 200px;
  height: 40px;
}
.rectangle-parent24 {
  top: 96px;
  left: 1098px;
  width: 183px;
}
.icon-parkdribble-parent {
  position: absolute;
  top: 181px;
  left: 21px;
  width: 1281px;
  height: 296px;
  font-size: 20px;
}
.rectangle-parent14,
.skill,
.skill1 {
  position: absolute;
  top: 131px;
  left: 58px;
  width: 1324px;
  height: 530px;
}
.skill,
.skill1 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 705px;
}
.skill {
  top: 1763px;
  left: -4px;
  text-align: center;
  color: #000;
  font-family: "Open Sans";
}
.group-child27,
.my-work-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 1600px;
  height: 782px;
}
.group-child27 {
  border-radius: 20px;
  background-color: #000;
  width: 1324px;
  height: 598.7px;
}
.my-work5 {
  position: absolute;
  top: 45.1px;
  left: 526px;
  font-size: 45px;
  display: inline-block;
  font-family: Roboto;
  color: #fff500;
  text-align: center;
  width: 272px;
  height: 62.9px;
}
.group-child28 {
  border-radius: 20px;
  background: linear-gradient(180deg, #fff500, rgba(255, 245, 0, 0));
}

.i-made-app{
  position: absolute ;
  top: 0;
  left: 0;
}
.i-made-app {
  top: 60px;
  left: 0px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  width: 350px;
  height: 270px;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}
.group-parent1 {
  position: absolute;
  top: 298px;
  left: 3px;
  width: 350px;
  height: 300px;
}
.p1,
.p2 {
  top: 157.4px;
  border-radius: 20px;
  width: 350px;
  height: 284.5px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.p1 {
  position: absolute;
  left: 42px;
  background-image: url(./uxui.png);
  cursor: pointer;
}
.p2 {
  left: 491px;
  background-image: url(./poster.png);
  cursor: pointer;
}
.lb1-child,
.p2,
.p3 {
  position: absolute;
}
.p3 {
  top: 157.4px;
  left: 932px;
  border-radius: 20px;
  width: 350px;
  height: 284.5px;
  overflow: hidden;
  background-image: url(./Blog.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.p1:hover .i-made-app{
  opacity: 1;
  background-color: rgba(255, 255, 0, 0.826);
  border-radius: 10px;
}
.p2:hover .i-made-app{
  opacity: 1;
  background-color: rgba(255, 255, 0, 0.829);
  border-radius: 10px;
}
.p3:hover .i-made-app{
  opacity: 1;
  background-color: rgba(255, 255, 0, 0.829);
  border-radius: 10px;
}
.lb1-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
}
.uxui-designs {
  position: absolute;
  height: 63.27%;
  width: 57.14%;
  top: 18.28%;
  left: 21.43%;
  font-weight: 600;
  display: inline-block;
}
.lb1 {
  position: absolute;
  top: 474.2px;
  left: 45px;
  width: 350px;
  height: 56.9px;
  font-size: 28px;
  border-radius: 30px;
  background-color: #ffffff;
  cursor: pointer;
}
.lb1.uxui-designs {
  color: black;
}
.lb1:hover{
  background-color: yellow;
}
.lb1:hover .uxui-designs{
  color: blue;
}
.landing-pageposter-designs {
  position: absolute;
  height: 63.27%;
  width: 97.43%;
  top: 18.28%;
  left: 1.14%;
  font-weight: 600;
  display: inline-block;
}
.lb2 {
  position: absolute;
  top: 474.2px;
  left: 491px;
  width: 350px;
  height: 56.9px;
  border-radius: 30px;
  background-color: #ffffff;
  cursor: pointer;
}
.lb2.landing-pageposter-designs {
  color: black;
}
.lb2:hover{
  background-color: yellow;
}
.lb2:hover .landing-pageposter-designs{
  color: blue;
}
.blog-siteseoanalytics {
  position: absolute;
  height: 63.27%;
  width: 95.71%;
  top: 18.28%;
  left: 2%;
  font-weight: 600;
  display: inline-block;
}
.lb3 {
  position: absolute;
  top: 474.2px;
  left: 935px;
  width: 350px;
  height: 56.9px;
  text-align: center;
  font-size: 28px;
  border-radius: 30px;
  background-color: #ffffff;
  cursor: pointer;
}
.lb3.blog-siteseoanalytics {
  color: black;
}
.lb3:hover{
  background-color: yellow;
}
.lb3:hover .blog-siteseoanalytics{
  color: blue;
}
.rectangle-parent25 {
  position: absolute;
  top: 133px;
  left: 58px;
  width: 1324px;
  height: 598.7px;
}
.my-work3,
.my-work4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 782px;
}
.my-work3 {
  top: 2467px;
  left: -4px;
  font-size: 24px;
  color: #000;
  font-family: "Open Sans";
}
.career-child,
.group-child31 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 1600px;
  height: 918px;
}
.group-child31 {
  border-radius: 20px;
  background-color: #000;
  width: 1324px;
  height: 748px;
}
.career5 {
  position: absolute;
  top: 16.6px;
  left: 501px;
  display: inline-block;
  width: 322px;
  height: 64.6px;
}

.certificate1 {
  position: absolute;
  top: 110px;
  left: 72px;
  width: 1180px;
  height: 575px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans";
}



carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.certificate-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.certificate {
  display: none;
  width: 100%;
}

.certificate.active {
  display: block;
}


.prev,.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


.rectangle-parent26 {
  position: absolute;
  top: 131px;
  left: 58px;
  width: 1324px;
  height: 748px;
}
.career3,
.career4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 918px;
}
.career3 {
  top: 3249px;
  left: -4px;
  text-align: center;
}
.education-child,
.group-child33 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 1600px;
  height: 796px;
}
.group-child33 {
  border-radius: 20px;
  background-color: #000;
  width: 1324px;
  height: 617.8px;
}
.education5 {
  position: absolute;
  top: 13.5px;
  left: 501px;
  display: inline-block;
  width: 322px;
  height: 48.9px;
}
.group-child34 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: rgba(217, 217, 217, 0.11);
  width: 1283px;
  height: 494.4px;
}
.mohamed-sathak-dastagir {
  top: 146.2px;
  left: 21px;
  color: #fff;
  width: 364px;
  height: 32px;
}
.div,
.mohamed-sathak-dastagir,
.tamil-nadu-india {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.div {
  top: 0;
  left: 21px;
  font-size: 28px;
  color: #fff;
  width: 177px;
  height: 32px;
}
.tamil-nadu-india {
  top: 170.9px;
  left: 95px;
  width: 157px;
  height: 24.7px;
}
.grade-6567,
.higher-secondary-education,
.i-pursued-bio-maths {
  position: absolute;
  left: 21px;
  font-weight: 600;
  display: inline-block;
}
.i-pursued-bio-maths {
  top: 202px;
  width: 360px;
  height: 210.2px;
}
.grade-6567,
.higher-secondary-education {
  height: 24.7px;
}
.grade-6567 {
  top: 77.7px;
  color: rgba(255, 255, 255, 0.81);
  width: 129px;
}
.higher-secondary-education {
  top: 42.1px;
  font-size: 20px;
  width: 358px;
}
.line-icon {
  position: absolute;
  top: 82px;
  left: 10px;
  max-height: 100%;
  width: 372px;
}
.ellipse-div {
  position: absolute;
  top: 112.4px;
  left: 0;
  border-radius: 50%;
  background-color: #fff500;
  width: 10px;
  height: 9.1px;
}
.mohamed-sathak-dastagir-metric-parent {
  position: absolute;
  top: 62.1px;
  left: 445px;
  width: 393px;
  height: 412.1px;
}
.div1,
.infant-jesus-matriculation {
  position: absolute;
  top: 0;
  left: 19px;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  width: 177px;
  height: 32px;
}
.infant-jesus-matriculation {
  top: 146.2px;
  left: 21px;
  font-size: 20px;
  width: 331px;
}
.during-my-secondary,
.secondary-education-x,
.tamil-nadu-india1 {
  position: absolute;
  left: 21px;
  font-weight: 600;
  display: inline-block;
  height: 24.7px;
}
.secondary-education-x {
  top: 42.1px;
  font-size: 20px;
  width: 279px;
}
.during-my-secondary,
.tamil-nadu-india1 {
  top: 170.9px;
  width: 157px;
}
.during-my-secondary {
  top: 202px;
  width: 360px;
  height: 210.2px;
}
.parent {
  position: absolute;
  top: 62.1px;
  left: 849px;
  width: 393px;
  height: 412.1px;
}
.mohamed-sathak-engineering {
  position: absolute;
  top: 148.1px;
  left: 21px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  width: 365px;
  height: 32px;
}
.bachelor-of-technology,
.during-my-btech,
.tamil-nadu-india2 {
  position: absolute;
  top: 172.7px;
  left: 21px;
  font-weight: 600;
  display: inline-block;
  width: 157px;
  height: 24.7px;
}
.bachelor-of-technology,
.during-my-btech {
  top: 203.8px;
  left: 17px;
  width: 376px;
  height: 228.5px;
}
.bachelor-of-technology {
  top: 42.1px;
  left: 21px;
  font-size: 20px;
  width: 232px;
  height: 24.7px;
}
.group-child37 {
  position: absolute;
  top: 85px;
  left: 10px;
  max-height: 100%;
  width: 372px;
}
.group-child38 {
  position: absolute;
  top: 114.3px;
  left: 0;
  border-radius: 50%;
  background-color: #fff500;
  width: 10px;
  height: 9.1px;
}
.mohamed-sathak-engineering-col-parent {
  position: absolute;
  top: 62.1px;
  left: 41px;
  width: 393px;
  height: 432.2px;
}
.rectangle-parent29 {
  position: absolute;
  top: 89.3px;
  left: 20px;
  width: 1283px;
  height: 494.4px;
  text-align: left;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
}
.rectangle-parent28 {
  position: absolute;
  top: 137px;
  left: 58px;
  width: 1324px;
  height: 617.8px;
}
.education3,
.education4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 796px;
}
.education3 {
  top: 4167px;
  left: -4px;
  text-align: center;
}
.contact-child,
.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 1600px;
  height: 797px;
}
.group-child39 {
  border-radius: 20px;
  background-color: #000;
  width: 1324px;
  height: 610.2px;

}
.contact5 {
  position: absolute;
  top: 13.4px;
  left: 501px;
  font-size: 45px;
  display: inline-block;
  font-family: Roboto;
  color: #fff500;
  text-align: center;
  width: 322px;
  height: 48.3px;
}

.cnimgb{
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  top: 20%;
  left: 65%;
}


/* Base Styles */

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

textarea {
  width: 100%;
  padding: 100px;
  margin-bottom: 10px;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  
}

/* Focus Styles */
input:focus, textarea:focus {
  border-color: #f5c00c;
  background-color: #555;
}

button.submit{
  top: 400px;
  left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Button Styles */
button.submit {
  width: 100%;
  padding:25px;
  border: none;
  border-radius: 10px;
  background-color: #f6ff00;
  color: #000;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button.submit:hover {
  background-color: #333;
  color: #e9f50c;
}

button.submit:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Error Message Styles */
.error {
  color: red;
  font-size: 12px;
}

/* Success Message Styles */
#successMessage {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}




.rectangle-parent31 {
  position: absolute;
  top: 131px;
  left: 154px;
  width: 430px;
  height: 71.3px;
  
}
.rectangle-parent32 {
  position: absolute;
  top: 253.9px;
  left: 154px;
  width: 430px;
  height: 71.3px;
}

.group-child43,
.rectangle-parent33 {
  position: absolute;
  top: 376.8px;
  left: 154px;
  width: 430px;
  height: 71.3px;
}
.group-child43 {
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 513px;
  height: 281.5px;
}

.group-child44,
.rectangle-parent34 {
  position: absolute;
  top: 166.6px;
  left: 725px;
  width: 513px;
  height: 281.5px;
}
.group-child44 {
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: #fff500;
  width: 430px;
  height: 71.3px;
  cursor: pointer;
}
.submit {
  position: absolute;
  top: 15.6px;
  left: 173px;
  font-weight: 600;
  display: inline-block;
  width: 83px;
  height: 24.1px;
  font-size: 25px;
}
.rectangle-parent35 {
  position: absolute;
  top: 494.4px;
  left: 446px;
  width: 430px;
  height: 71.3px;
  color: #000;
  cursor: pointer;
}
.feel-free-to {
  position: absolute;
  top: 73px;
  left: 428px;
  font-weight: 600;
  display: inline-block;
  width: 467px;
  height: 29.4px;
}
.rectangle-parent30 {
  position: absolute;
  top: 137px;
  left: 58px;
  width: 1324px;
  height: 610.2px;
}
.contact3,
.contact4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 797px;
}
.contact3 {
  top: 4963px;
  left: -4px;
  font-size: 24px;
  color: rgba(255, 245, 0, 0.45);
  font-family: "Open Sans";
}
.group-child45,
.home6 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child45 {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 959px;
  height: 97px;
}
.home6 {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.about4,
.career6,
.home5 {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 66.4px;
  height: 22px;
}
.about4,
.career6 {
  left: 154px;
}
.career6 {
  left: 539px;
  width: 72.2px;
}
.contact6,
.education6,
.my-work6,
.skills4 {
  position: absolute;
  top: 36px;
  left: 272px;
  width: 66.4px;
  height: 22px;
}
.contact6,
.education6,
.my-work6 {
  left: 390px;
  width: 97.6px;
}
.contact6,
.education6 {
  left: 663px;
  width: 116.1px;
}
.contact6 {
  left: 831px;
  width: 84.9px;
}

.menu-bar,
.rectangle-parent36 {
  position: fixed;
  top: 5;
  left: 50;
  width: 959px;
  height: 97px;
}
.home5
,.about4,
.skills4,
.my-work6,
.career6,
.education6,
.contact6 {
  cursor: pointer;
}
.home5:hover
,.about4:hover,
.skills4:hover,
.my-work6:hover,
.career6:hover,
.education6:hover,
.contact6:hover {
  color:black;
}
.menu-bar {
  top: 19px;
  left: 237px;
  font-size: 24px;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: transparent;
  height: 5760px;
  overflow: hidden;
  text-align: left;
  font-size: 45px;
  color: #fff500;
  font-family: Roboto;
}








@media only screen and (max-width: 768px) {

.group-child6,
.home-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 400px;
  height: 221px;
}
.group-child6 {
  background-color: transparent;
  width: 183px;
  height: 145px;
}
.group-child7,
.rectangle-wrapper {
  position: absolute;
  top: 45.4rem;
  left: 38rem;
  width: 183px;
  height: 145px;
}
.group-child7 {
  top: 0;
  left:0;
  border-radius: 5px;
  background-color: #000;
  width: 330px;
  height:179px;
}
.span {
  color: #fff500;
}
.hi-i-am-container,
.i-am-uxui {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 130px;
  height: 39px;
}
.hi-i-am-container {
  font-size: 15px;
  font-weight: 500;
  
}
.i-am-uxui {
  top: 39px;
  font-size: 8.75px;
  font-weight: 75;
  width: 158px;
  height: 30px;
}
.group-frame,
.hi-i-am-mohamed-adhil-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 69px;
}
.group-frame {
  top: 48px;
  left: 26px;
}
.group-child9,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 178px;
}
.group-child9 {
  height: 40%;
  width: 40%;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: rgba(211, 248, 0, 0.308);
}
.group-wrapper1,
.rectangle-parent10 {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper1 {
  height: 15.5%;
  width: 22.3%;
  top: 4.5%;
  right: 1.345%;
  bottom: 4.85%;
  left: 1.25%;
}
.group-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #faf11e;
  width: 129px;
  height: 21px;
  cursor: pointer;
}
.download-cv1 {
  position: relative;
  top: 2.15px;
  left: 0px;
  display: inline-block;
  width: 49px;
  height: 8.25px;
  font-size: 6.25px;
  cursor: pointer;
}
.group-wrapper2:hover{
  transition: transform 0.6s ease;
  transform: translate(5px,-5px);
}
.frame-div,
.group-wrapper2,
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 129px;
  height: 21px;
}
.frame-div,
.group-wrapper2 {
  top: 6px;
  left: 7.5px;
}
.frame-div {
  top: 100px;
  left: 19px;
  border-radius: 5px;
  background-color: transparent;
  width: 144px;
  height: 33px;
  overflow: hidden;
  font-size: 7.5px;
  color: #000;
}
.photo-child {
  position: absolute;
  top: 18px;
  left: 22px;
  border-radius: 15px;
  width: 100px;
  height: 125px;
  object-fit: cover;
}
.photo {
  position: absolute;
  top: 12.5px;
  left: 201px;
  border-radius: 15px;
  background-color: transparent;
  width: 122px;
  height: 143px;
  overflow: hidden;
}

.quotes {
  position: absolute;
  left: 27.5px;
  top: 145px;
  display: inline-block;
  color: rgb(255, 247, 18);
  font-size: 5px;
  font-weight: 600;
  width: 125px;
  height: 2.5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  
}

.msg {
  position: absolute;
  left: 210px;
  top: 5px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.46);
  font-size: 4px;
  font-weight: 600;
  width: 125px;
  height: 2.5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  
}

.group-parent {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 329px;
  height: 178px;
}
.home3 {
  position: absolute;
  top: 0;
  left: 0;

}




.group-child11,
.home3 {
  width: 360px;
  height: 221px;
  font-size: 15px;
  color: #fff;
}
.group-child11 {
  border-radius: 5px;
  background-color: #000;
  width: 331px;
  height: 174px;
}
.about-me1 {
  position: absolute;
  top: 5px;
  left: 132px;
  display: inline-block;
  width: 68px;
  height: 17.5px;
  font-size: 10px;
}
.group-child12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 179px;
  height: 148px;
}
.hello-i-am {
  margin: 0;
}
.i-graduated-in {
  margin: 0;
}
.hello-i-am-container {
  position: absolute;
  top: 4.5px;
  left: 9.25px;
  display: inline-block;
  width: 165px;
}
.rectangle-parent13 {
  position: absolute;
  top: 22.5px;
  left: 142px;
  width: 179px;
  height: 148px;
  text-align: left;
  font-size: 6px;
  color: #fff;
  font-family: "Open Sans";
}
.about-me,
.rectangle-parent12 {
  position: absolute;
  top: 32px;
  left: 14.5px;
  width: 331px;
  height: 174px;
}
.about-me {
  top: 0;
  left: 0;
  width: 360px;
  height: 221px;
}
.am-photo-child,
.am-photo-item {
  position: absolute;
  top: 18.5px;
  left: 23.5px;
  border-radius: 15px;
  width: 106.5px;
  height: 114px;
}
.am-photo-child {
  background-color: #fff;
}
.am-photo-item {
  object-fit: cover;
}
.am-photo {
  position: absolute;
  top: 52.25px;
  left: 0;
  background-color: transparent;
  width: 163px;
  height: 158.5px;
  overflow: hidden;
}
.about3 {
  position: absolute;
  top: 221px;
  left: -1px;
  width: 360px;
  height: 221px;
  text-align: center;
}
 




.group-child13,
.skill-child {
  position: absolute;
  top: 0;
  left:0;
  background-color: #282727;
  width: 400px;
  height: 176px;
}
.group-child13 {
  border-radius: 5px;
  background-color: #000;
  width: 331px;
  height: 132px;
}
.skills3 {
  position: absolute;
  top: 6px;
  left: 131px;
  display: inline-block;
  font-family: Roboto;
  color: #fff500;
  width: 68px;
  height: 17.5px;
  font-size: 10px;
}
.group-child14,
.rectangle-icon {
  position: absolute;
  top: 2.75px;
  left: 0;
  border-radius: 7.5px;
  width: 50px;
  height: 12px;
}
.group-child14 {
  top: 0;
  left: 2px;
  background-color: rgb(255, 255, 255);
}
.design {
  position: absolute;
  top: 1px;
  left: 16.25px;
  display: inline-block;
  font-weight: 500;
  width: 21.5px;
  height: 8px;
}
.vector-parent {
  position: absolute;
  top: 23.5px;
  left: 36px;
  width: 52px;
  height: 14.5px;
  text-align: left;
  font-size: 6px;
}
.group-child15,
.group-child16 {
  position: absolute;
  top: 2.75px;
  left: 3px;
  border-radius: 7.5px;
  width: 62.5px;
  height: 11.75px;
}
.group-child16 {
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}
.digital-marketing {
  position: absolute;
  top: 2px;
  left: 7.5px;
  display: inline-block;
  font-weight: 500;
  width: 50px;
  height: 7.75px;
}
.vector-group {
  position: absolute;
  top: 23.5px;
  left: 211px;
  width: 53px;
  height: 14.5px;
  text-align: left;
  font-size: 5.5px;
}
.icon-parkdribble,
.logosadobe-xd-icon {
  position: absolute;
  top: 45px;
  left: 84.25px;
  width: 17.5px;
  height: 17.5px;
  overflow: hidden;
}
.logosadobe-xd-icon {
  top: 0;
  left: 106px;
}
.logosblogger-icon,
.logosgoogle-search-console-icon,
.vscode-iconsfile-type-excel {
  position: absolute;
  top: 40.25px;
  left: 186px;
  width: 17.5px;
  height: 17.5px;
  overflow: hidden;
}
.logosblogger-icon,
.vscode-iconsfile-type-excel {
  left: 252px;
}
.logosblogger-icon {
  top: 2.5px;
  left: 213.25px;
}
.logoshtml-5-icon,
.skill-iconswordpress,
.vscode-iconsfile-type-css {
  position: absolute;
  top: 2.5px;
  left: 235px;
  width: 17.5px;
  height: 17.5px;
  overflow: hidden;
}
.logoshtml-5-icon,
.vscode-iconsfile-type-css {
  top: 43px;
  left: 38px;
}
.logoshtml-5-icon {
  left: 20.25px;
}
.deviconcanva,
.logosgoogle-ads-icon,
.logosgoogle-analytics-icon {
  position: absolute;
  top: 2.5px;
  left: 161px;
  width: 17.5px;
  height: 17.5px;
  overflow: hidden;
}
.deviconcanva,
.logosgoogle-ads-icon {
  left: 59px;
}
.logosgoogle-ads-icon {
  left: 288px;
}
.figma-icon,
.group-child17 {
  position: absolute;
  top: 0;
  left: 9px;
  width: 17.5px;
  height: 17.5px;
}
.group-child17 {
  left: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 30px;
  height: 10px;
}
.figma {
  position: absolute;
  top: 1.5px;
  left: 5.5px;
  font-weight: 500;
  display: inline-block;
  width: 18.75px;
  height: 6.75px;
}
.group-child18,
.rectangle-parent15 {
  position: absolute;
  top: 24px;
  left: 0;
  width: 30px;
  height: 10px;
}
.group-child18 {
  top: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 35px;
}
.html-5-css {
  position: absolute;
  top: 1.5px;
  left: 0.75px;
  font-weight: 500;
  display: inline-block;
  width: 34.25px;
  height: 6.75px;
}
.group-child19,
.rectangle-parent16 {
  position: absolute;
  top: 64px;
  left: 21.5px;
  width: 35px;
  height: 10px;
}
.group-child19 {
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 31px;
}
.adobe-xd {
  position: absolute;
  top: 1.5px;
  left: 3.25px;
  font-weight: 500;
  display: inline-block;
  width: 24.5px;
  height: 6.75px;
}
.rectangle-parent17,
.rectangle-parent18 {
  position: absolute;
  top: 24px;
  left: 101px;
  width: 31px;
  height: 10px;
}
.rectangle-parent18 {
  top: 64px;
  left: 77.5px;
}
.group-child22,
.rectangle-parent19 {
  position: absolute;
  top: 24px;
  left: 52.75px;
  width: 30px;
  height: 10px;
}
.group-child22 {
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 45.75px;
}
.google-analytics {
  position: absolute;
  top: 1.5px;
  left: 2.25px;
  font-weight: 500;
  display: inline-block;
  width: 41.25px;
  height: 6.75px;
}
.group-child23,
.rectangle-parent20 {
  position: absolute;
  top: 24px;
  left: 146.25px;
  width: 45.75px;
  height: 10px;
}
.group-child23 {
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 51.5px;
}
.blogger-wordpress {
  position: absolute;
  top: 1.5px;
  left: 2.25px;
  font-weight: 500;
  display: inline-block;
  width: 47.75px;
  height: 6.75px;
}
.group-child24,
.rectangle-parent21 {
  position: absolute;
  top: 24px;
  left: 207.5px;
  width: 51.5px;
  height: 10px;
}
.group-child24 {
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 61.75px;
}
.google-search-console {
  position: absolute;
  top: 1.5px;
  left: 1.25px;
  font-weight: 600;
  display: inline-block;
  width: 59.5px;
  height: 6.75px;
}
.group-child25,
.rectangle-parent22 {
  position: absolute;
  top: 64px;
  left: 164px;
  width: 61.75px;
  height: 10px;
}
.group-child25 {
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.53);
  width: 50px;
}
.microsoft-excel {
  position: absolute;
  top: 1.5px;
  left: 1px;
  font-weight: 600;
  display: inline-block;
  width: 48px;
  height: 6.75px;
}
.rectangle-parent23,
.rectangle-parent24 {
  position: absolute;
  top: 64px;
  left: 238px;
  width: 50px;
  height: 10px;
}
.rectangle-parent24 {
  top: 34px;
  left: 274.5px;
  width: 45.75px;
}
.icon-parkdribble-parent {
  position: absolute;
  top: 45.25px;
  left: 5.25px;
  width: 320.25px;
  height: 74px;
  font-size: 5px;
}
.rectangle-parent14,
.skill,
.skill1 {
  position: absolute;
  top: 32.75px;
  left: 14.5px;
  width: 331px;
  height: 132.5px;
}
.skill,
.skill1 {
  top: 0;
  left: 0;
  width: 360px;
  height: 176.25px;
}
.skill {
  top: 440.75px;
  left: -1px;
  text-align: center;
  color: #000;
  font-family: "Open Sans";
}




.group-child27,
.my-work-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 400px;
  height: 195.5px;
}
.group-child27 {
  border-radius: 5px;
  background-color: #000;
  width: 331px;
  height: 150px;
}
.my-work5 {
  position: absolute;
  top: 11.275px;
  left: 131.5px;
  font-size: 11.25px;
  display: inline-block;
  font-family: Roboto;
  color: #fff500;
  text-align: center;
  width: 68px;
  height: 15.725px;
}
.group-child28 {
  border-radius: 5px;
  background: linear-gradient(180deg, #fff500, rgba(255, 245, 0, 0));
}

.i-made-app{
  position: absolute ;
  top: 0;
  left: 0;
}
.i-made-app {
  top: 15px;
  left: 0px;
  font-weight: 600;
  font-size: 4.5px;
  display: flex;
  width: 87.5px;
  height: 67.5px;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}
.group-parent1 {
  position: absolute;
  top: 74.5px;
  left: 0.75px;
  width: 87.5px;
  height: 75px;
}
.p1,
.p2 {
  top: 39.35px;
  border-radius: 5px;
  width: 87.5px;
  height: 71.125px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.p1 {
  position: absolute;
  left: 10.5px;
  background-image: url(./uxui.png);
  cursor: pointer;
}
.p2 {
  left: 124.25px;
  background-image: url(./poster.png);
  cursor: pointer;
}
.lb1-child,
.p2,
.p3 {
  position: absolute;
}
.p3 {
  top: 39.35px;
  left: 233px;
  border-radius: 5px;
  width: 87.5px;
  height: 71.125px;
  overflow: hidden;
  background-image: url(./Blog.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.p1:hover .i-made-app{
  opacity: 1;
  background-color: rgba(255, 255, 0, 0.826);
  border-radius: 2.5px;
}
.p2:hover .i-made-app{
  opacity: 1;
  background-color: rgba(255, 255, 0, 0.829);
  border-radius: 2.5px;
}
.p3:hover .i-made-app{
  opacity: 1;
  background-color: rgba(255, 255, 0, 0.829);
  border-radius: 2.5px;
}
.lb1-child {
  height: 40%;
  width: 40%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 7.5px;
}
.uxui-designs {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4.57%;
  left: 25%;
  font-weight: 600;
  display: inline-block;
}
.lb1 {
  position: absolute;
  top: 118.55px;
  left: 11.25px;
  width: 87.5px;
  height: 14.225px;
  font-size: 7px;
  border-radius: 7.5px;
  background-color: #ffffff;
  cursor: pointer;
}
.lb1.uxui-designs {
  color: black;
}
.lb1:hover{
  background-color: yellow;
}
.lb1:hover .uxui-designs{
  color: blue;
}
.landing-pageposter-designs {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 12%;
  left: 0.285%;
  font-weight: 600;
  display: inline-block;
}
.lb2 {
  position: absolute;
  top: 118.5px;
  left: 122.75px;
  width: 87.5px;
  height: 14.225px;
  border-radius: 7.5px;
  background-color: #ffffff;
  cursor: pointer;
}
.lb2.landing-pageposter-designs {
  color: black;
}
.lb2:hover{
  background-color: yellow;
}
.lb2:hover .landing-pageposter-designs{
  color: blue;
}
.blog-siteseoanalytics {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4.57%;
  left: 0.2%;
  font-weight: 600;
  display: inline-block;
}
.lb3 {
  position: absolute;
  top: 118.55px;
  left: 233.75px;
  width: 87.5px;
  height: 14.225px;
  text-align: center;
  font-size: 7px;
  border-radius: 7.5px;
  background-color: #ffffff;
  cursor: pointer;
}
.lb3.blog-siteseoanalytics {
  color: black;
}
.lb3:hover{
  background-color: yellow;
}
.lb3:hover .blog-siteseoanalytics{
  color: blue;
}
.rectangle-parent25 {
  position: absolute;
  top: 33.25px;
  left: 14.5px;
  width: 331px;
  height: 149px;
}
.my-work3,
.my-work4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 195.5px;
}
.my-work3 {
  top: 616.75px;
  left: -1px;
  font-size: 6px;
  color: #000;
  font-family: "Open Sans";
}




.career-child,
.group-child31 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 400px;
  height: 229.5px;
}
.group-child31 {
  border-radius: 5px;
  background-color: #000;
  width: 331px;
  height: 187px;
}
.career5 {
  position: absolute;
  top: 4.15px;
  left: 125.25px;
  display: inline-block;
  width: 80.5px;
  height: 16.15px;
  font-size: 12px;
}

.certificate1 {
  position: absolute;
  top: 27.5px;
  left: 18.75px;
  width: 295px;
  height: 143.75px;
  text-align: left;
  font-size: 4px;
  color: #fff;
  font-family: "Open Sans";
}



carousel-container {
  position: relative;
  width: 100%;
  max-width: 150px;
  margin: auto;
}

.certificate-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.certificate {
  display: none;
  width: 100%;
}

.certificate.active {
  display: block;
}


.prev,.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


.rectangle-parent26 {
  position: absolute;
  top: 32.75px;
  left: 14.5px;
  width: 331px;
  height: 187px;
}
.career3,
.career4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 229.5px;
}
.career3 {
  top: 812.25px;
  left: -1px;
  text-align: center;
}




.education-child,
.group-child33 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 400px;
  height: 199px;
}
.group-child33 {
  border-radius: 5px;
  background-color: #000;
  width: 331px;
  height: 154.45px;
}
.education5 {
  position: absolute;
  top: 3.375px;
  left: 125.25px;
  display: inline-block;
  width: 80.5px;
  height: 12.225px;
  font-size: 10px;
}
.group-child34 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.5px;
  background-color: rgba(217, 217, 217, 0.11);
  width: 320.75px;
  height: 123.6px;
}
.mohamed-sathak-dastagir {
  top: 36.55px;
  left: 5.25px;
  color: #fff;
  width: 91px;
  height: 8px;
}
.div,
.mohamed-sathak-dastagir,
.tamil-nadu-india {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.div {
  top: 0;
  left: 5.25px;
  font-size: 7px;
  color: #fff;
  width: 44.25px;
  height: 8px;
}
.tamil-nadu-india {
  top: 42.725px;
  left: 23.75px;
  width: 39.25px;
  height: 6.175px;
}
.grade-6567,
.higher-secondary-education,
.i-pursued-bio-maths {
  position: absolute;
  left: 5.25px;
  font-weight: 600;
  display: inline-block;
}
.i-pursued-bio-maths {
  top: 50.5px;
  width: 90px;
  height: 52.55px;
}
.grade-6567,
.higher-secondary-education {
  height: 6.175px;
}
.grade-6567 {
  top: 19.425px;
  color: rgba(255, 255, 255, 0.81);
  width: 32.25px;
}
.higher-secondary-education {
  top: 10.525px;
  font-size: 5px;
  width: 89.5px;
}
.line-icon {
  position: absolute;
  top: 20.5px;
  left: 2.5px;
  max-height: 100%;
  width: 93px;
}
.ellipse-div {
  position: absolute;
  top: 28.1px;
  left: 0;
  border-radius: 50%;
  background-color: #fff500;
  width: 2.5px;
  height: 2.275px;
}
.mohamed-sathak-dastagir-metric-parent {
  position: absolute;
  top: 15.525px;
  left: 111.25px;
  width: 98.25px;
  height: 103.025px;
}
.div1,
.infant-jesus-matriculation {
  position: absolute;
  top: 0;
  left: 4.75px;
  font-size: 7px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  width: 44.25px;
  height: 8px;
}
.infant-jesus-matriculation {
  top: 36.55px;
  left: 5.25px;
  font-size: 5px;
  width: 82.75px;
}
.during-my-secondary,
.secondary-education-x,
.tamil-nadu-india1 {
  position: absolute;
  left: 5.25px;
  font-weight: 600;
  display: inline-block;
  height: 6.175px;
}
.secondary-education-x {
  top: 10.525px;
  font-size: 5px;
  width: 69.75px;
}
.during-my-secondary,
.tamil-nadu-india1 {
  top: 42.725px;
  width: 39.25px;
}
.during-my-secondary {
  top: 50.5px;
  width: 90px;
  height: 52.55px;
}
.parent {
  position: absolute;
  top: 15.525px;
  left: 212.25px;
  width: 98.25px;
  height: 103.02px;
}
.mohamed-sathak-engineering {
  position: absolute;
  top: 37.025px;
  left: 5.25px;
  font-size: 5px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  width: 91.25px;
  height: 8px;
}
.bachelor-of-technology,
.during-my-btech,
.tamil-nadu-india2 {
  position: absolute;
  top: 43.175px;
  left: 5.25px;
  font-weight: 600;
  display: inline-block;
  width: 39.25px;
  height: 6.175px;
}
.bachelor-of-technology,
.during-my-btech {
  top: 50.95px;
  left: 4.25px;
  width: 94px;
  height: 57.125px;
}
.bachelor-of-technology {
  top: 10.525px;
  left: 5.25px;
  font-size: 5px;
  width: 58px;
  height: 6.175px;
}
.group-child37 {
  position: absolute;
  top: 21.25px;
  left: 2.5px;
  max-height: 100%;
  width: 93px;
}
.group-child38 {
  position: absolute;
  top: 28.575px;
  left: 0;
  border-radius: 12.5%;
  background-color: #fff500;
  width: 2.5px;
  height: 2.275px;
}
.mohamed-sathak-engineering-col-parent {
  position: absolute;
  top: 15.525px;
  left: 10.25px;
  width: 98.25px;
  height: 108.05px;
}
.rectangle-parent29 {
  position: absolute;
  top: 22.325px;
  left: 5px;
  width: 320.75px;
  height: 123.6px;
  text-align: left;
  font-size: 4.5px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
}
.rectangle-parent28 {
  position: absolute;
  top: 34.25px;
  left: 14.5px;
  width: 331px;
  height: 154.45px;
}
.education3,
.education4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 199px;
}
.education3 {
  top: 1041.75px;
  left: -1px;
  text-align: center;
}




.contact-child,
.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  width: 400px;
  height: 199.25px;
}
.group-child39 {
  border-radius: 5px;
  background-color: #000;
  width: 331px;
  height: 152.55px;

}
.contact5 {
  position: absolute;
  top: 3.35px;
  left: 125.25px;
  font-size: 11.25px;
  display: inline-block;
  font-family: Roboto;
  color: #fff500;
  text-align: center;
  width: 80.5px;
  height: 12.075px;
}

.cnimgb{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  top: 20%;
  left: 65%;
}


/* Base Styles */

input {
  width: 100%;
  padding: 0.100px;
  margin-bottom: 2.5px;
  border: 0.5px solid #444;
  border-radius: 1.25px;
  background-color: #333;
  color: #ffffff;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

textarea {
  width: 100%;
  padding: 2.25px;
  margin-bottom: 2.5px;
  border: 0.5px solid #444;
  border-radius: 1.25px;
  background-color: #333;
  color: #fff;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  
}

/* Focus Styles */
input:focus, textarea:focus {
  border-color: #f5c00c;
  background-color: #555;
}

button.submit{
  top: 100px;
  left: 62.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Button Styles */
button.submit {
  width: 100%;
  padding:6.25px;
  border: none;
  border-radius: 2.5px;
  background-color: #f6ff00;
  color: #000;
  font-size: 6.25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button.submit:hover {
  background-color: #333;
  color: #e9f50c;
}

button.submit:active {
  transform: scale(0.95);
  box-shadow: 0px 0.5px 11.25px rgba(0, 0, 0, 0.1);
}

/* Error Message Styles */
.error {
  color: red;
  font-size: 3px;
}

/* Success Message Styles */
#successMessage {
  margin-top: 5px;
  color: green;
  font-weight: bold;
}




.rectangle-parent31 {
  position: absolute;
  top: 32.75px;
  left: 38.5px;
  width: 107.5px;
  height: 17.825px;
  
}
.rectangle-parent32 {
  position: absolute;
  top: 63.475px;
  left: 38.5px;
  width: 107.5px;
  height: 17.825px;
}

.group-child43,
.rectangle-parent33 {
  position: absolute;
  top: 94.2px;
  left: 38.5px;
  width: 107.5px;
  height: 17.825px;
}
.group-child43 {
  top: 0;
  left: 0;
  border-radius: 2.5px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 128.25px;
  height: 70.375px;
}

.group-child44,
.rectangle-parent34 {
  position: absolute;
  top: 41.65px;
  left: 181.25px;
  width: 128.25px;
  height: 70.375px;
}
.group-child44 {
  top: 0;
  left: 0;
  border-radius: 7.5px;
  background-color: #fff500;
  width: 107.5px;
  height: 17.825px;
  cursor: pointer;
}
.submit {
  position: absolute;
  top: 3.9px;
  left: 43.25px;
  font-weight: 600;
  display: inline-block;
  width: 20.75px;
  height: 6.025px;
  font-size: 6.25px;
}
.rectangle-parent35 {
  position: absolute;
  top: 123.6px;
  left: 111.5px;
  width: 107.5px;
  height: 17.825px;
  color: #000;
  cursor: pointer;
}
.feel-free-to {
  position: absolute;
  top: 18.25px;
  left: 107px;
  font-weight: 600;
  display: inline-block;
  width: 116.75px;
  height: 7.35px;
}
.rectangle-parent30 {
  position: absolute;
  top: 34.25px;
  left: 14.5px;
  width: 331px;
  height: 152.55px;
}
.contact3,
.contact4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 199.25px;
}
.contact3 {
  top: 1240px;
  left: -1px;
  font-size: 6px;
  color: rgba(255, 245, 0, 0.45);
  font-family: "Open Sans";
}






.group-child45,
.home6 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child45 {
  border-radius: 6.25px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 239.75px;
  height: 24.25px;
}
.home6 {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.about4,
.career6,
.home5 {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 16.6px;
  height: 5.5px;
}
.about4,
.career6 {
  left: 38.5px;
}
.career6 {
  left: 134.75px;
  width: 18.05px;
}
.contact6,
.education6,
.my-work6,
.skills4 {
  position: absolute;
  top: 9px;
  left: 68px;
  width: 16.6px;
  height: 5.5px;
}
.contact6,
.education6,
.my-work6 {
  left: 97.5px;
  width: 24.4px;
}
.contact6,
.education6 {
  left: 165.75px;
  width: 29.025px;
}
.contact6 {
  left: 207.75px;
  width: 21.225px;
}

.menu-bar,
.rectangle-parent36 {
  position: fixed;
  top: 1.2;
  left: 12.5;
  width: 239.75px;
  height: 24.25px;
}
.home5
,.about4,
.skills4,
.my-work6,
.career6,
.education6,
.contact6 {
  cursor: pointer;
}
.home5:hover
,.about4:hover,
.skills4:hover,
.my-work6:hover,
.career6:hover,
.education6:hover,
.contact6:hover {
  color:black;
}
.menu-bar {
  top: 4.75px;
  left: 59.25px;
  font-size: 6px;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: transparent;
  height: 1440px;
  overflow: hidden;
  text-align: left;
  font-size: 11.25px;
  color: #fff500;
  font-family: Roboto;
}


}
